@import "bootstrap-sprockets";
@import "bootstrap";

body {

  font-family: 'Titillium Web', sans-serif;
  background-image: url(footer_lodyas.png)
}

.page-header {
  color: white;
}

.product-image {
  height: 200px;
}

.product-name{
  font-weight: bold;
}

.jumbotron {
  border-radius: 10px;
  box-shadow: 1px 3px 3px #888888;
  background-image: url(halftone.png);
  height: 500px;
}

.btn {
  box-shadow: 1px 2px 2px #888888;
}

.form-control {
  width: 400px;
}

.description {
  width: 400px;
  height: 400px;
}

.price {
  font-weight: bold;
}

