// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {

  font-family: 'Titillium Web', sans-serif;
  background-image: url(footer_lodyas.png)
}

.sort {
  text-align: right;
  float: right;
}

.page-header {
  color: white;
}

.product-image {
  height: 200px;
}

.product-name{
  font-weight: bold;
}

.jumbotron {
  border-radius: 10px;
  box-shadow: 1px 3px 3px #888888;
  background-image: url(halftone.png);
  height: 500px;
  text-align: center;
}

.jumbotron-red {
  border-radius: 10px;
  box-shadow: 1px 3px 3px #000000;
  background-image: url(red-06.jpg);
  height: 500px;
  text-align: center;
  color: white;
  .btn{
    box-shadow: 1px 2px 2px #000000;
  }
}

.btn {
  box-shadow: 1px 2px 2px #888888;
}

.form-control {
  width: 400px;
}

.description {
  width: 400px;
  height: 400px;
}

.price {
  font-weight: bold;
}

