<div class="col-md-12">
  <div class="jumbotron">
  <div class="container">
    <h3><%= @product.name %>:</h3>
    <image src=<%= @product.image %> height="200"></image>
    <h3><%= number_to_currency(@product.price * 1.09) %></h3>
    <h4><%= @product.description %></h4>
  </div>
  </div>
</div>
